@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin after{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #e6e6e6;
    display: inline-block;
    margin: 3px 8px;
}

@mixin arrow{
    .wrap{
        position: relative;
        li{
            width: 40px;
            height: 40px;
            background: white;
            position: absolute;
            top:50%;
            border: 1px solid #f0f0f0;
            transform: translateY(-50%);
            border-radius: 50%;
            @include flex;
            cursor: pointer;
            box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
            &:hover i{
                opacity: 0.4;
            }
        }
    }
}

@mixin img{
    img{
        width: 100%!important;
        height: 100%!important;
        border-radius: 5px;
        background: {
            position: center!important;
            size:cover!important;
            repeat:no-repeat!important;
        }
    }
}

@mixin slide_a{
    .title {
        width:100%;
        height: 20px;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .writer {
        width:100%;
        height: 20px;
        font-size: 13px;
        color: #787878;
        &:hover{
            opacity: 0.4;
        }
        margin-bottom: 5px;
        cursor: pointer;
    }
    .star {
        width: 100%;
        height: 20px;
        font-size: 13px;
        i {
            color: #dc3232;
        }
        span{
            &:nth-of-type(1){
                color:#dc3232;
            }
            &:nth-of-type(2){
                color:#787878;
            }
        }
    }
}

p,i,li,span,div {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

.wrap{
    width: 1134px;
    margin: 0 auto;
}

#topBar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f0f0f0;
    .wrap {
        height: 40px;
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            align-items: center;
        }
    }
}

#genre {
    li {
        float: left;
        font-size: 14px;
        color : rgb(120,120,120);
        font-weight: 700;
        cursor: pointer;
        &:not(:last-of-type)::after {
            @include after
        }
        &:nth-of-type(3) {
            cursor:context-menu;
            color : rgb(20,20,20)
        }
        &:not(:nth-of-type(3)):hover {
            opacity: 0.4;
        }
    }
}

.fa-chevron-right{
    font-size: 0.8em;
}

#info {
    li {
        float: left;
        font-size: 14px;
        color : rgb(120,120,120);
        font-weight: 700;
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }
        &:not(:last-of-type)::after {
            @include after
        }
    }
}

#topImg{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    .wrap { 
        display: flex;
    }
}

#logo{
    width: calc(100% - 260px - 180px - 10px);
    align-self: center;
    img{
        width: auto;
        height: 23px;
        margin-right: 7px;
        cursor: pointer;
    }
}

#search{
    width: 260px;
    height: 40px;
    margin-right: 10px;
    background: #f0f0f0;
    border-radius: 10px;
    @include flex;
    i{
        font-size: 16px;
        color: #787878;
        margin-right: 10px;
    }
}

input { 
    width: 210px;
    border: none;
    background: transparent;
    font-size: 18px;
    &:focus{
        outline: none;
    }
}

#icon{
    width: 180px;
    height: 40px;
    @include flex;
    font-size: 28px;
    cursor: pointer;
}

#nav{
    .wrap{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f0f0f0;
    }
    p{
        font-size: 24px;
        color: #1e9eff;
        font-weight: 700;
    }
    span{
        font-size: 16px;
        color: #141414;
        font-weight: 700;
        cursor: pointer;
    }
    i{
        cursor: pointer;
        font-size: 16px;
    }
}

#main { 
    width: 1130px;
    height: auto;
    margin: 0 auto;
}

#bannerMenu{
    height: 70px;
    display: flex;
    align-items: center;
    font-weight: 500;
    div{
        width: auto;
        font-size: 16px;
        cursor: pointer;
        color: #141414;
        padding: 4px 15px;
        &:not(.on):hover {
            opacity: 0.4;
        }
    }
}

.on{
    background: #1e9eff;
    border-radius: 15px;
    cursor: context-menu!important;
    color: white!important;
    opacity: 1;
}

#slides{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    #slideWrap{
        width: 1000%;
        height: 400px;
        .slide{
            width: 1024px;
            height: 400px;
            float: left;
            border-radius: 5px;
            margin-right: 5px;
            color :white;
            position: relative;
            background: {
                position: center!important;
                size:cover!important;
                repeat:no-repeat!important;
                
            }
            .gradWrap {
                width: 100%;
                height: 100%;
                background-image:linear-gradient(transparent, rgba(0, 0, 0, 0), rgba(0,0,0, 0.9));
                .bannerTxt{
                    position: absolute;
                    left:40px;
                    bottom:40px;
                    display: none;
                    .only {
                        width: 40px;
                        height: 20px;
                        border: 1px solid white;
                        border-radius: 2px;
                        font-size: 10px;
                        @include flex;
                        text-transform: uppercase;
                    }
                }
                .pageWrap{
                    font-size: 14px;
                    position: absolute;
                    bottom:40px;
                    right: 40px;
                    color:white;
                    background: rgba(0,0,0,0.1);
                    border-radius: 12px;
                    padding: 2px 10px;
                    span:nth-of-type(2){
                        opacity: 0.4;
                    };
                    display: none;
                    .page{
                        opacity: 1;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}

#banner{
    @include arrow;
}

#prev, #prev_2, #prev_3, #prev_4, #prev_5, #prev_6, #prev_7{
    left: -20px;
}

#next, #next_2, #next_3, #next_4, #next_5, #next_6, #next_7 {
    right: -20px;
}

.arrow{
    font-size: 20px;
}

#slide_1_5, #slide_1_8{
    p:last-of-type{
        opacity: 0.4;
        font-size: 12px;
    }
}

#iconMenu{
    width: 100%;
    height: 150px;
    @include flex;
    >div {
        width: 70px;
        height: 90px;
        margin: 0px 10px;
    }
}

.iconImg{
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: {
        position: center!important;
        size:cover!important;
        repeat:no-repeat!important;
    }
}

$colorList : (#0d14bb, #80050c, #8444ec, #04455c, #266090 , #1f3200, #544444);

@for $i from 1 through 7 {
    #iconImg_#{$i} {
        background: url(../img/icon_#{$i}.png);
    }
    #slide_2_#{$i}>.bookWrap>.backColor {
        background: nth($colorList, $i);
    }
}

.iconTxt{
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

#slides_2{
    width: 100%;
    height: 230px;
    overflow: hidden;
    position: relative;
}

#slidesWrap_2 {
    width: 300%;
    height: 230px;
}

.slide_2{
    width: (1134px / 3);
    height: 230px;
    float: left;
    border-radius: 5px;
    color :white;
    position: relative;
    cursor: pointer;
}

.bookWrap{
    width: calc(100% - 5px);
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
    .backColor{
        width: 100%;
        height: 100px;
        position: absolute;
        top:50px;
        border-radius: 5px;
        .thumb{
            height: 150px;
            display: flex;
            justify-content: center;
            position: relative;
            top:-50px;
            img{
                height: 170px;
            }
        }
    }
}

.bookTxt{
    width: 250px;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0 auto;
    h2{
        padding-top: 10px;
        color: black;
        font-size: 16px;
    }
    p{
        color: #787878;
        font-size: 14px;
    }
}

#slide_2{
    @include arrow;
    .wrap>p{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.hide{
    display: none!important;
}

#slide_3{
    margin-top: 50px;
    @include arrow;
    .wrap>p{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

#slides_3{
    width: 100%;
    height: 420px;
    overflow: hidden;
    #slidesWrap_3 {
        width: 200%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .slide_3 { 
            width: (1134px / 3);
            height: (420px / 3);
            display: flex;
            position: relative;
            flex-wrap: wrap;
            padding: {
                right : 10px;
                bottom: 10px;
            };
            .cover {
                width: 80px;
                height: 100%;
                cursor: pointer;
                @include img;
            }
            .rank {
                width: 80px;
                height: 100%;
                @include flex;
            }
            .textWrap_3{
                width: calc(100% - 160px);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include slide_a;
            }
        }
    }
}

#slide_4{
    margin-top: 50px;
    @include arrow;
    .wrap>p{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

#slides_4{
    width: 100%;
    height: 350px;
    overflow: hidden;
    #slidesWrap_4 {
        width: 1000%;
        height: 100%;
        .slide_4{
            float:left;
            width: (1134px / 6);
            height: 100%;
            padding-right: 5px;
            display: flex;
            flex-direction: column;
            .thumb_4{
                width: 100%;
                height: 260px;
                border-radius: 5px;
                position: relative;
                cursor: pointer;
                @include img;
            }
            .title_4{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
            }
            .author_4{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 14px;
                color: #787878;
                cursor: pointer;
                &:hover{
                    opacity: 0.4;
                }
            }
            .star_4{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 13px;
                color: #787878;
                span{
                    &:nth-of-type(1){
                        color:#dc3232;
                    }
                    &:nth-of-type(2){
                        color:#787878;
                    }
                }
            }
        }
    }
}

.discount{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #dc3232;
    color: white;
    border-radius: 0 5px 0 5px;
    font-size: 11px;
    @include flex;
}

#slide_5{
    margin-top: 50px;
    @include arrow;
    .wrap>p{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

#slides_5{
    width: 100%;
    height: 420px;
    overflow: hidden;
    #slidesWrap_5 {
        width: 200%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .slide_5 { 
            width: (1134px / 3);
            height: (420px / 3);
            display: flex;
            position: relative;
            flex-wrap: wrap;
            padding: {
                right : 10px;
                bottom: 10px;
            };
            .cover {
                width: 80px;
                height: 100%;
                cursor: pointer;
                @include img;
            }
            .rank {
                width: 80px;
                height: 100%;
                @include flex;
            }
            .textWrap_5{
                width: calc(100% - 160px);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include slide_a;
            }
        }
    }
}

#slide_6{
    margin-top: 50px;
    @include arrow;
    .wrap>p{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

#slides_6{
    width: 100%;
    height: 350px;
    overflow: hidden;
    #slidesWrap_6 {
        width: 1000%;
        height: 100%;
        .slide_6{
            float:left;
            width: (1134px / 6);
            height: 100%;
            padding-right: 5px;
            display: flex;
            flex-direction: column;
            .thumb_6{
                width: 100%;
                height: 260px;
                border-radius: 5px;
                position: relative;
                cursor: pointer;
                @include img;
            }
            .title_6{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 16px;
                cursor: pointer;
                font-weight: 700;
            }
            .author_6{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 14px;
                cursor: pointer;
                color: #787878;
                &:hover{
                    opacity: 0.4;
                }
            }
            .star_6{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 13px;
                color: #dc3232;
                span{
                    &:nth-of-type(1){
                        color:#dc3232;
                    }
                    &:nth-of-type(2){
                        color:#787878;
                    }
                }
            }
        }
    }
}

.rent{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: grey;
    color: white;
    border-radius: 0 5px 0 5px;
    font-size: 11px;
    @include flex;
}


#slide_7{
    margin-top: 50px;
    @include arrow;
    .wrap>p{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

#slides_7{
    width: 100%;
    height: 350px;
    overflow: hidden;
    #slidesWrap_7 {
        width: 1000%;
        height: 100%;
        .slide_7{
            float:left;
            width: (1134px / 6);
            height: 100%;
            padding-right: 5px;
            display: flex;
            flex-direction: column;
            .thumb_7{
                width: 100%;
                height: 260px;
                border-radius: 5px;
                position: relative;
                cursor: pointer;
                @include img;
            }
            .title_7{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 16px;
                cursor: pointer;
                font-weight: 700;
            }
            .author_7{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 14px;
                cursor: pointer;
                color: #787878;
                &:hover{
                    opacity: 0.4;
                }
            }
            .star_7{
                margin-top: 5px;
                width: 100%;
                height: 20px;
                font-size: 13px;
                color: #dc3232;
                span{
                    &:nth-of-type(1){
                        color:#dc3232;
                    }
                    &:nth-of-type(2){
                        color:#787878;
                    }
                }
            }
        }
    }
}

@mixin foot {
    width: 17%;
    height: 160px;
    font-size: 13px;
    color: #787878;
    h3{
        font-weight: 700;
        margin-bottom: 10px;
    }
    li{
        cursor: pointer;
        margin-bottom: 8px;
    }
}

footer {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    border-top: 1px solid #f0f0f0;
    .wrap{
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        #footIcon{
            width: 17%;
            height: 160px;
            color: #787878;
            font-size: 13px;
            font-weight: 700;
            i {
                font-size: 20px;
                margin-right: 10px;
            }
            div{
                margin-bottom: 20px;
            }
        }
        #service{
            @include foot;
        }
        #etc {
            @include foot;
        }
        #company{
            @include foot;
            #new {
                display: inline-block;
                margin-left: 5px;
                width: 15px;
                height: 15px;
                font-size: 1px;
                color: white;
                background: #1e9eff;
                border-radius: 7px;
                text-align: center;
            }
        }
        #sns {
            width: 32%;
            height: 160px;
            color: #787878;
            display: flex;
            justify-content: flex-end;
            div{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid #f0f0f0;
                @include flex;
                margin-left: 15px;
            }
        }
        #copy{
            width: 100%;
            height: auto;
            color: #787878;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            h3{
                cursor: pointer;
            }
            li{
                margin: 10px 0;
                float: left;
                cursor: pointer;
                &:not(:last-of-type)::after{
                    content: "";
                    width: 1px;
                    height:  100%;
                    background: #787878;
                    margin: 0px 7px;
                }
            }
            p{
                font-size: 11px;
            }
        }
    }
}

body{
    position: relative;
}

#top{
    position: fixed;
    right: 40px;
    bottom: 40px;
    width:60px;
    height: 60px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    background: rgba($color: white, $alpha: 1.0);
    cursor: pointer;
    @include flex;
    i{
        font-size: 30px;
    }
}
