@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
p, i, li, span, div {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

.wrap {
  width: 1134px;
  margin: 0 auto;
}

#topBar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
}
#topBar .wrap {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
#topBar .wrap ul {
  display: flex;
  align-items: center;
}

#genre li {
  float: left;
  font-size: 14px;
  color: rgb(120, 120, 120);
  font-weight: 700;
  cursor: pointer;
}
#genre li:not(:last-of-type)::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #e6e6e6;
  display: inline-block;
  margin: 3px 8px;
}
#genre li:nth-of-type(3) {
  cursor: context-menu;
  color: rgb(20, 20, 20);
}
#genre li:not(:nth-of-type(3)):hover {
  opacity: 0.4;
}

.fa-chevron-right {
  font-size: 0.8em;
}

#info li {
  float: left;
  font-size: 14px;
  color: rgb(120, 120, 120);
  font-weight: 700;
  cursor: pointer;
}
#info li:hover {
  opacity: 0.4;
}
#info li:not(:last-of-type)::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #e6e6e6;
  display: inline-block;
  margin: 3px 8px;
}

#topImg {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
#topImg .wrap {
  display: flex;
}

#logo {
  width: calc(100% - 260px - 180px - 10px);
  align-self: center;
}
#logo img {
  width: auto;
  height: 23px;
  margin-right: 7px;
  cursor: pointer;
}

#search {
  width: 260px;
  height: 40px;
  margin-right: 10px;
  background: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search i {
  font-size: 16px;
  color: #787878;
  margin-right: 10px;
}

input {
  width: 210px;
  border: none;
  background: transparent;
  font-size: 18px;
}
input:focus {
  outline: none;
}

#icon {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#nav .wrap {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
#nav p {
  font-size: 24px;
  color: #1e9eff;
  font-weight: 700;
}
#nav span {
  font-size: 16px;
  color: #141414;
  font-weight: 700;
  cursor: pointer;
}
#nav i {
  cursor: pointer;
  font-size: 16px;
}

#main {
  width: 1130px;
  height: auto;
  margin: 0 auto;
}

#bannerMenu {
  height: 70px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
#bannerMenu div {
  width: auto;
  font-size: 16px;
  cursor: pointer;
  color: #141414;
  padding: 4px 15px;
}
#bannerMenu div:not(.on):hover {
  opacity: 0.4;
}

.on {
  background: #1e9eff;
  border-radius: 15px;
  cursor: context-menu !important;
  color: white !important;
  opacity: 1;
}

#slides {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
#slides #slideWrap {
  width: 1000%;
  height: 400px;
}
#slides #slideWrap .slide {
  width: 1024px;
  height: 400px;
  float: left;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#slides #slideWrap .slide .gradWrap {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
#slides #slideWrap .slide .gradWrap .bannerTxt {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: none;
}
#slides #slideWrap .slide .gradWrap .bannerTxt .only {
  width: 40px;
  height: 20px;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#slides #slideWrap .slide .gradWrap .pageWrap {
  font-size: 14px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2px 10px;
  display: none;
}
#slides #slideWrap .slide .gradWrap .pageWrap span:nth-of-type(2) {
  opacity: 0.4;
}
#slides #slideWrap .slide .gradWrap .pageWrap .page {
  opacity: 1;
  margin-right: 3px;
}

#banner .wrap {
  position: relative;
}
#banner .wrap li {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  border: 1px solid #f0f0f0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#banner .wrap li:hover i {
  opacity: 0.4;
}

#prev, #prev_2, #prev_3, #prev_4, #prev_5, #prev_6, #prev_7 {
  left: -20px;
}

#next, #next_2, #next_3, #next_4, #next_5, #next_6, #next_7 {
  right: -20px;
}

.arrow {
  font-size: 20px;
}

#slide_1_5 p:last-of-type, #slide_1_8 p:last-of-type {
  opacity: 0.4;
  font-size: 12px;
}

#iconMenu {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#iconMenu > div {
  width: 70px;
  height: 90px;
  margin: 0px 10px;
}

.iconImg {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#iconImg_1 {
  background: url(../img/icon_1.png);
}

#slide_2_1 > .bookWrap > .backColor {
  background: #0d14bb;
}

#iconImg_2 {
  background: url(../img/icon_2.png);
}

#slide_2_2 > .bookWrap > .backColor {
  background: #80050c;
}

#iconImg_3 {
  background: url(../img/icon_3.png);
}

#slide_2_3 > .bookWrap > .backColor {
  background: #8444ec;
}

#iconImg_4 {
  background: url(../img/icon_4.png);
}

#slide_2_4 > .bookWrap > .backColor {
  background: #04455c;
}

#iconImg_5 {
  background: url(../img/icon_5.png);
}

#slide_2_5 > .bookWrap > .backColor {
  background: #266090;
}

#iconImg_6 {
  background: url(../img/icon_6.png);
}

#slide_2_6 > .bookWrap > .backColor {
  background: #1f3200;
}

#iconImg_7 {
  background: url(../img/icon_7.png);
}

#slide_2_7 > .bookWrap > .backColor {
  background: #544444;
}

.iconTxt {
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}

#slides_2 {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
}

#slidesWrap_2 {
  width: 300%;
  height: 230px;
}

.slide_2 {
  width: 378px;
  height: 230px;
  float: left;
  border-radius: 5px;
  color: white;
  position: relative;
  cursor: pointer;
}

.bookWrap {
  width: calc(100% - 5px);
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
}
.bookWrap .backColor {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 50px;
  border-radius: 5px;
}
.bookWrap .backColor .thumb {
  height: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}
.bookWrap .backColor .thumb img {
  height: 170px;
}

.bookTxt {
  width: 250px;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0 auto;
}
.bookTxt h2 {
  padding-top: 10px;
  color: black;
  font-size: 16px;
}
.bookTxt p {
  color: #787878;
  font-size: 14px;
}

#slide_2 .wrap {
  position: relative;
}
#slide_2 .wrap li {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  border: 1px solid #f0f0f0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#slide_2 .wrap li:hover i {
  opacity: 0.4;
}
#slide_2 .wrap > p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hide {
  display: none !important;
}

#slide_3 {
  margin-top: 50px;
}
#slide_3 .wrap {
  position: relative;
}
#slide_3 .wrap li {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  border: 1px solid #f0f0f0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#slide_3 .wrap li:hover i {
  opacity: 0.4;
}
#slide_3 .wrap > p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

#slides_3 {
  width: 100%;
  height: 420px;
  overflow: hidden;
}
#slides_3 #slidesWrap_3 {
  width: 200%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#slides_3 #slidesWrap_3 .slide_3 {
  width: 378px;
  height: 140px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-bottom: 10px;
}
#slides_3 #slidesWrap_3 .slide_3 .cover {
  width: 80px;
  height: 100%;
  cursor: pointer;
}
#slides_3 #slidesWrap_3 .slide_3 .cover img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#slides_3 #slidesWrap_3 .slide_3 .rank {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 {
  width: calc(100% - 160px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 .title {
  width: 100%;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  cursor: pointer;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 .writer {
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #787878;
  margin-bottom: 5px;
  cursor: pointer;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 .writer:hover {
  opacity: 0.4;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 .star {
  width: 100%;
  height: 20px;
  font-size: 13px;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 .star i {
  color: #dc3232;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 .star span:nth-of-type(1) {
  color: #dc3232;
}
#slides_3 #slidesWrap_3 .slide_3 .textWrap_3 .star span:nth-of-type(2) {
  color: #787878;
}

#slide_4 {
  margin-top: 50px;
}
#slide_4 .wrap {
  position: relative;
}
#slide_4 .wrap li {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  border: 1px solid #f0f0f0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#slide_4 .wrap li:hover i {
  opacity: 0.4;
}
#slide_4 .wrap > p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

#slides_4 {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
#slides_4 #slidesWrap_4 {
  width: 1000%;
  height: 100%;
}
#slides_4 #slidesWrap_4 .slide_4 {
  float: left;
  width: 189px;
  height: 100%;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}
#slides_4 #slidesWrap_4 .slide_4 .thumb_4 {
  width: 100%;
  height: 260px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
#slides_4 #slidesWrap_4 .slide_4 .thumb_4 img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#slides_4 #slidesWrap_4 .slide_4 .title_4 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
#slides_4 #slidesWrap_4 .slide_4 .author_4 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: #787878;
  cursor: pointer;
}
#slides_4 #slidesWrap_4 .slide_4 .author_4:hover {
  opacity: 0.4;
}
#slides_4 #slidesWrap_4 .slide_4 .star_4 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #787878;
}
#slides_4 #slidesWrap_4 .slide_4 .star_4 span:nth-of-type(1) {
  color: #dc3232;
}
#slides_4 #slidesWrap_4 .slide_4 .star_4 span:nth-of-type(2) {
  color: #787878;
}

.discount {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #dc3232;
  color: white;
  border-radius: 0 5px 0 5px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide_5 {
  margin-top: 50px;
}
#slide_5 .wrap {
  position: relative;
}
#slide_5 .wrap li {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  border: 1px solid #f0f0f0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#slide_5 .wrap li:hover i {
  opacity: 0.4;
}
#slide_5 .wrap > p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

#slides_5 {
  width: 100%;
  height: 420px;
  overflow: hidden;
}
#slides_5 #slidesWrap_5 {
  width: 200%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#slides_5 #slidesWrap_5 .slide_5 {
  width: 378px;
  height: 140px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-bottom: 10px;
}
#slides_5 #slidesWrap_5 .slide_5 .cover {
  width: 80px;
  height: 100%;
  cursor: pointer;
}
#slides_5 #slidesWrap_5 .slide_5 .cover img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#slides_5 #slidesWrap_5 .slide_5 .rank {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 {
  width: calc(100% - 160px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 .title {
  width: 100%;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  cursor: pointer;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 .writer {
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #787878;
  margin-bottom: 5px;
  cursor: pointer;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 .writer:hover {
  opacity: 0.4;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 .star {
  width: 100%;
  height: 20px;
  font-size: 13px;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 .star i {
  color: #dc3232;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 .star span:nth-of-type(1) {
  color: #dc3232;
}
#slides_5 #slidesWrap_5 .slide_5 .textWrap_5 .star span:nth-of-type(2) {
  color: #787878;
}

#slide_6 {
  margin-top: 50px;
}
#slide_6 .wrap {
  position: relative;
}
#slide_6 .wrap li {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  border: 1px solid #f0f0f0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#slide_6 .wrap li:hover i {
  opacity: 0.4;
}
#slide_6 .wrap > p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

#slides_6 {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
#slides_6 #slidesWrap_6 {
  width: 1000%;
  height: 100%;
}
#slides_6 #slidesWrap_6 .slide_6 {
  float: left;
  width: 189px;
  height: 100%;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}
#slides_6 #slidesWrap_6 .slide_6 .thumb_6 {
  width: 100%;
  height: 260px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
#slides_6 #slidesWrap_6 .slide_6 .thumb_6 img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#slides_6 #slidesWrap_6 .slide_6 .title_6 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}
#slides_6 #slidesWrap_6 .slide_6 .author_6 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #787878;
}
#slides_6 #slidesWrap_6 .slide_6 .author_6:hover {
  opacity: 0.4;
}
#slides_6 #slidesWrap_6 .slide_6 .star_6 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #dc3232;
}
#slides_6 #slidesWrap_6 .slide_6 .star_6 span:nth-of-type(1) {
  color: #dc3232;
}
#slides_6 #slidesWrap_6 .slide_6 .star_6 span:nth-of-type(2) {
  color: #787878;
}

.rent {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: grey;
  color: white;
  border-radius: 0 5px 0 5px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide_7 {
  margin-top: 50px;
}
#slide_7 .wrap {
  position: relative;
}
#slide_7 .wrap li {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  border: 1px solid #f0f0f0;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
#slide_7 .wrap li:hover i {
  opacity: 0.4;
}
#slide_7 .wrap > p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

#slides_7 {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
#slides_7 #slidesWrap_7 {
  width: 1000%;
  height: 100%;
}
#slides_7 #slidesWrap_7 .slide_7 {
  float: left;
  width: 189px;
  height: 100%;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}
#slides_7 #slidesWrap_7 .slide_7 .thumb_7 {
  width: 100%;
  height: 260px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
#slides_7 #slidesWrap_7 .slide_7 .thumb_7 img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#slides_7 #slidesWrap_7 .slide_7 .title_7 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}
#slides_7 #slidesWrap_7 .slide_7 .author_7 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #787878;
}
#slides_7 #slidesWrap_7 .slide_7 .author_7:hover {
  opacity: 0.4;
}
#slides_7 #slidesWrap_7 .slide_7 .star_7 {
  margin-top: 5px;
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #dc3232;
}
#slides_7 #slidesWrap_7 .slide_7 .star_7 span:nth-of-type(1) {
  color: #dc3232;
}
#slides_7 #slidesWrap_7 .slide_7 .star_7 span:nth-of-type(2) {
  color: #787878;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  border-top: 1px solid #f0f0f0;
}
footer .wrap {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
}
footer .wrap #footIcon {
  width: 17%;
  height: 160px;
  color: #787878;
  font-size: 13px;
  font-weight: 700;
}
footer .wrap #footIcon i {
  font-size: 20px;
  margin-right: 10px;
}
footer .wrap #footIcon div {
  margin-bottom: 20px;
}
footer .wrap #service {
  width: 17%;
  height: 160px;
  font-size: 13px;
  color: #787878;
}
footer .wrap #service h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .wrap #service li {
  cursor: pointer;
  margin-bottom: 8px;
}
footer .wrap #etc {
  width: 17%;
  height: 160px;
  font-size: 13px;
  color: #787878;
}
footer .wrap #etc h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .wrap #etc li {
  cursor: pointer;
  margin-bottom: 8px;
}
footer .wrap #company {
  width: 17%;
  height: 160px;
  font-size: 13px;
  color: #787878;
}
footer .wrap #company h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .wrap #company li {
  cursor: pointer;
  margin-bottom: 8px;
}
footer .wrap #company #new {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  font-size: 1px;
  color: white;
  background: #1e9eff;
  border-radius: 7px;
  text-align: center;
}
footer .wrap #sns {
  width: 32%;
  height: 160px;
  color: #787878;
  display: flex;
  justify-content: flex-end;
}
footer .wrap #sns div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
footer .wrap #copy {
  width: 100%;
  height: auto;
  color: #787878;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
footer .wrap #copy h3 {
  cursor: pointer;
}
footer .wrap #copy li {
  margin: 10px 0;
  float: left;
  cursor: pointer;
}
footer .wrap #copy li:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #787878;
  margin: 0px 7px;
}
footer .wrap #copy p {
  font-size: 11px;
}

body {
  position: relative;
}

#top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top i {
  font-size: 30px;
}