@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin after{
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #e6e6e6;
    display: inline-block;
    margin: 3px 8px;
}

@mixin author{
    font-size: 13px;
    span:first-of-type{    
        font-weight: 700;
        cursor: pointer;
        &:hover{
            color: $blue;
        }
    }
}

$blue :  #1e9eff;

$red : #dc3232;

$gray : #787878;

$border : #f0f0f0;

$border_2 : #ddd;

p,i,li,span,div {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
}

.wrap{
    width: 1134px;
    margin: 0 auto;
}

#topBar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $border;
    .wrap {
        height: 40px;
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            align-items: center;
        }
    }
}

#genre {
    li {
        float: left;
        font-size: 14px;
        color : rgb(120,120,120);
        font-weight: 700;
        cursor: pointer;
        &:not(:last-of-type)::after {
            @include after
        }
        &:hover {
            opacity: 0.4;
        }
    }
}

.fa-chevron-right{
    font-size: 0.8em;
}

#info {
    li {
        float: left;
        font-size: 14px;
        color : rgb(120,120,120);
        font-weight: 700;
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }
        &:not(:last-of-type)::after {
            @include after
        }
    }
}

#topImg{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    .wrap { 
        display: flex;
    }
}

#logo{
    width: calc(100% - 260px - 180px - 10px);
    align-self: center;
    img{
        width: auto;
        height: 23px;
        margin-right: 7px;
        cursor: pointer;
    }
}

#search{
    width: 260px;
    height: 40px;
    margin-right: 10px;
    background: #f0f0f0;
    border-radius: 10px;
    @include flex;
    i{
        font-size: 16px;
        color: $gray;
        margin-right: 10px;
    }
}

input { 
    width: 210px;
    border: none;
    background: transparent;
    font-size: 18px;
    &:focus{
        outline: none;
    }
}

#icon{
    width: 180px;
    height: 40px;
    @include flex;
    font-size: 28px;
}

#main{
    width: 100%;
    height: auto;
    .subWrap{
        width: 1016px;
        margin: 0 auto;
        height: 10000px;
        display: flex;
        #detailWrap{
            width: 810px;
            height: 100%;
            border-right: 1px solid $border_2;
            #detail_top{
                width: 100%;
                height: 1000px;
                padding: 30px 20px;
                display: flex;
                #book_cover{
                    width: 200px;
                    height: 350px;
                    margin-right: 40px;
                    #cover_img{
                        width: 200px;
                        height: 300px;
                        cursor: zoom-in;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        border:1px solid $border_2;
                    }
                    #cover_review{
                        margin: 10px auto;
                        @include flex;
                        width: 130px;
                        height: 40px;
                        border: 1px solid $blue;
                        border-radius: 5px;
                        color: $blue;
                        font-size: 14px;
                        font-weight: 700;
                        i {
                            font-size: 11px;
                            margin-right: 5px;
                        }
                        cursor: pointer;
                        &:hover{
                            background-color:rgba(30, 158, 255, 0.2);
                        }
                    }
                }
                #info_book_wrap{
                    width: calc(100% - 240px);
                    height: 500px;
                    #info {
                        &_category{
                            font-size: 13px;
                            cursor: pointer;
                            i{
                                cursor: context-menu;
                                margin: 0px 3px;
                            }
                            &:hover{
                                color: $blue;
                            }
                            &:hover i{
                                color: black;
                            }
                        }
                        &_title{
                            font-size: 30px;
                            font-weight: 700;
                        }
                        &_star_rate{
                            margin: 20px 0 15px 0;
                            cursor: pointer;
                            #star_cover{
                                width: 85px;
                                height: 17px;
                                background: url(../img/sub/star.svg);
                                display: inline-block;
                                #star_wrap{
                                    overflow: hidden;
                                    width: 93%;
                                    height: 17px;
                                    #full{
                                        width: 85px;
                                        height: 17px;
                                        background: url(../img/sub/star_full.svg);
                                    }
                                }
                            }
                            span:nth-of-type(1){
                                color:#fa722e;
                                font-size: 14px;
                            }
                            span:nth-of-type(2){
                                font-size: 11px;
                                color: #666666;
                            }
                        }
                        &_author{
                            margin-bottom: 5px;
                            @include author;
                        }
                        &_publisher{
                            @include author;
                        }
                    }
                }
            }
        }
        #rightSide{
            width: 206px;
            height: 1000px;
            #img{
                height: 206px;
                padding-top: 20px;
                background: $border;
                overflow: hidden;
                border-bottom: 1px solid $border_2;
                h2{
                    font-size: 20px;
                    text-align: center;
                    &:last-of-type{
                        color: $blue;
                    }
                }
                #sideBtn{
                    width: 100px;
                    height: 25px;
                    margin: 8px auto;
                    background: black;
                    font-size: 11px;
                    color: white;
                    @include flex;
                    border-radius: 4px;
                }
                #sideCover{
                    width: 100px;
                    height: 87px;
                    margin: 0 auto;
                    img{
                        width: 100% !important;
                        background-position: center !important;
                        background-size: cover !important;
                        background-repeat: no-repeat !important;
                    }
                }

            }
            #bestRank{
                padding: 20px;
                color: #666666;
                h3{
                    font-size: 13px;
                }
                span{
                    display: table-cell;
                    font-size: 12px;
                    padding: 5px 0;
                    &:first-of-type{
                        width: 28px;
                        color: $red;
                    }
                    &:last-of-type:hover{
                        width: calc(100% - 28px);
                        color: $blue;
                    }
                }
                ul li{
                    border-top: 1px solid $border_2;
                    margin: 5px 0;
                    cursor: pointer;
                }
                #sideMoreBtn{
                    font-size: 12px;
                    width: 100%;
                    height: 25px;
                    background: $border;
                    @include flex;
                    cursor: pointer;
                    border: {
                        top:1px solid $border_2;
                        bottom:1px solid $border_2;
                    }
                }
            }

        }

    }

}

