@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
p, i, li, span, div, td, section, textarea {
  font-family: "Apple SD Gothic Neo", "Helvetica Neue", "Noto Sans KR", sans-serif;
}

.wrap {
  width: 1134px;
  margin: 0 auto;
}

#topBar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
}
#topBar .wrap {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
#topBar .wrap ul {
  display: flex;
  align-items: center;
}

#genre li {
  float: left;
  font-size: 14px;
  color: rgb(120, 120, 120);
  font-weight: 700;
  cursor: pointer;
}
#genre li:not(:last-of-type)::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #e6e6e6;
  display: inline-block;
  margin: 3px 8px;
}
#genre li:hover {
  opacity: 0.4;
}

.fa-chevron-right {
  font-size: 0.8em;
}

#info li {
  float: left;
  font-size: 14px;
  color: rgb(120, 120, 120);
  font-weight: 700;
  cursor: pointer;
}
#info li:hover {
  opacity: 0.4;
}
#info li:not(:last-of-type)::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #e6e6e6;
  display: inline-block;
  margin: 3px 8px;
}

#topImg {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
#topImg .wrap {
  display: flex;
}

#logo {
  width: calc(100% - 260px - 180px - 10px);
  align-self: center;
}
#logo img {
  width: auto;
  height: 23px;
  margin-right: 7px;
  cursor: pointer;
}

#search {
  width: 260px;
  height: 40px;
  margin-right: 10px;
  background: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search i {
  font-size: 16px;
  color: #787878;
  margin-right: 10px;
}

#search_input {
  width: 210px;
  border: none;
  background: transparent;
  font-size: 18px;
}
#search_input:focus {
  outline: none;
}

#icon {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
}

#main {
  width: 100%;
  height: auto;
}
#main .subWrap {
  width: 1016px;
  margin: 0 auto;
  height: auto;
  display: flex;
}
#main .subWrap #detailWrap {
  width: 810px;
  height: 100%;
  padding: 30px 30px;
  position: relative;
  border-right: 1px solid #ddd;
}
#main .subWrap #detailWrap > div {
  position: relative;
}
#main .subWrap #detailWrap #detail_top {
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}
#main .subWrap #detailWrap #detail_top #book_cover {
  width: 200px;
  height: 350px;
  margin-right: 40px;
}
#main .subWrap #detailWrap #detail_top #book_cover #cover_img {
  width: 200px;
  height: 300px;
  cursor: zoom-in;
  border: 1px solid #ddd;
}
#main .subWrap #detailWrap #detail_top #book_cover #cover_img img {
  width: 100%;
  height: 100%;
}
#main .subWrap #detailWrap #detail_top #book_cover #cover_review {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  border: 1px solid #1e9eff;
  border-radius: 5px;
  color: #1e9eff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
#main .subWrap #detailWrap #detail_top #book_cover #cover_review i {
  font-size: 11px;
  margin-right: 5px;
}
#main .subWrap #detailWrap #detail_top #book_cover #cover_review:hover {
  background-color: rgba(30, 158, 255, 0.2);
}
#main .subWrap #detailWrap #detail_top #info_book_wrap {
  width: calc(100% - 240px);
  height: 400px;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_category {
  font-size: 13px;
  cursor: pointer;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_category i {
  cursor: context-menu;
  margin: 0px 3px;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_category:hover {
  color: #1e9eff;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_category:hover i {
  color: black;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_title {
  font-size: 30px;
  font-weight: 700;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_star_rate {
  margin: 20px 0 15px 0;
  cursor: pointer;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_star_rate #star_cover {
  width: 85px;
  height: 17px;
  background: url(../img/sub/star.svg);
  display: inline-block;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_star_rate #star_cover #star_wrap {
  overflow: hidden;
  width: 93%;
  height: 17px;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_star_rate #star_cover #star_wrap #full {
  width: 85px;
  height: 17px;
  background: url(../img/sub/star_full.svg);
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_star_rate span:nth-of-type(1) {
  color: #fa722e;
  font-size: 14px;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_star_rate span:nth-of-type(2) {
  font-size: 11px;
  color: #666666;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_author {
  margin-bottom: 5px;
  font-size: 13px;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_author span:first-of-type {
  font-weight: 700;
  cursor: pointer;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_author span:first-of-type:hover {
  color: #1e9eff;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_publisher {
  font-size: 13px;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_publisher span:first-of-type {
  font-weight: 700;
  cursor: pointer;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_publisher span:first-of-type:hover {
  color: #1e9eff;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_event {
  margin-top: 17px;
  margin-bottom: 15px;
  padding: 7px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_event div {
  width: 40px;
  height: 20px;
  font-size: 12px;
  background: #22b8cf;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_event p {
  width: calc(100% - 70px);
  cursor: pointer;
  font-size: 14px;
  color: #787878;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_event p:hover {
  color: #1e9eff;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_event span {
  cursor: pointer;
  font-size: 12px;
  color: #787878;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_price table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_price table tr #rowspan {
  width: 30%;
  background: #f7fafc;
  border-right: 1px solid #ddd;
  text-align: center;
  color: #40474d;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_price table tr td {
  padding: 7px;
  color: #808991;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_price table tr td:last-of-type {
  text-align: right;
  font-weight: 700;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_price table tr:last-of-type td:last-of-type {
  color: #1e9eff;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_1, #main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_2, #main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_3 {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808991;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_1:hover, #main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_2:hover, #main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_3:hover {
  background: rgba(128, 137, 145, 0.2);
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_4 {
  width: 120px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e9eff;
  color: white;
}
#main .subWrap #detailWrap #detail_top #info_book_wrap #info_btn #btn_4:hover {
  background: #0077d9;
}
#main .subWrap #detailWrap #detail_top #info_meta {
  margin-top: 50px;
  width: 100%;
  height: 120px;
  border: 4px solid #f0f0f0;
  padding: 10px 20px;
  font-size: 12px;
  display: flex;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_left {
  width: 40%;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_left li {
  display: flex;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_left span {
  width: 60px;
  color: #525a61;
  font-weight: 700;
  margin-right: 5px;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_left ul {
  margin-bottom: 7px;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_left ul li {
  color: #666666;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_left #second li {
  float: left;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_left #second li:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #f0f0f0;
  margin: 4px 7px;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_right {
  width: 60%;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_right li {
  display: flex;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_right li i {
  padding-top: 4px;
  margin-right: 2px;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_right span {
  width: 60px;
  color: #525a61;
  font-weight: 700;
  margin-right: 5px;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_right ul {
  margin-bottom: 7px;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_right ul li {
  color: #666666;
}
#main .subWrap #detailWrap #detail_top #info_meta #ul_right #second_2 li {
  float: left;
  margin-right: 9px;
}
#main .subWrap #detailWrap #introduce, #main .subWrap #detailWrap #publish_coment, #main .subWrap #detailWrap #book_content {
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding-bottom: 20px;
}
#main .subWrap #detailWrap #introduce:hover, #main .subWrap #detailWrap #publish_coment:hover, #main .subWrap #detailWrap #book_content:hover {
  cursor: pointer;
}
#main .subWrap #detailWrap #introduce h3, #main .subWrap #detailWrap #publish_coment h3, #main .subWrap #detailWrap #book_content h3 {
  font-size: 20px;
  color: #59667a;
}
#main .subWrap #detailWrap #introduce h3:hover, #main .subWrap #detailWrap #publish_coment h3:hover, #main .subWrap #detailWrap #book_content h3:hover {
  cursor: context-menu;
}
#main .subWrap #detailWrap #introduce hr, #main .subWrap #detailWrap #publish_coment hr, #main .subWrap #detailWrap #book_content hr {
  margin: 12px 0;
  height: 3px;
  background: #59667a;
}
#main .subWrap #detailWrap #introduce hr:hover, #main .subWrap #detailWrap #publish_coment hr:hover, #main .subWrap #detailWrap #book_content hr:hover {
  cursor: context-menu;
}
#main .subWrap #detailWrap #introduce p, #main .subWrap #detailWrap #publish_coment p, #main .subWrap #detailWrap #book_content p {
  font-size: 14px;
  color: #333333;
}
#main .subWrap #detailWrap #introduce .toggle, #main .subWrap #detailWrap #publish_coment .toggle, #main .subWrap #detailWrap #book_content .toggle {
  display: none;
}
#main .subWrap #detailWrap #profile {
  margin-top: 60px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
#main .subWrap #detailWrap #profile h3 {
  font-size: 20px;
  color: #59667a;
}
#main .subWrap #detailWrap #profile hr {
  margin: 12px 0;
  height: 3px;
  background: #59667a;
}
#main .subWrap #detailWrap #profile h4 {
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
}
#main .subWrap #detailWrap #profile h4:hover {
  color: #1e9eff;
}
#main .subWrap #detailWrap #profile #profile_btn {
  width: 170px;
  height: 30px;
  color: #1e9eff;
  font-size: 13px;
  border: 1px solid #1e9eff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
  cursor: pointer;
}
#main .subWrap #detailWrap #profile #profile_btn:hover {
  background: rgba(30, 158, 255, 0.1);
}
#main .subWrap #detailWrap #profile #profile_btn span::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: inline-block;
  background: #1e9eff;
  margin: 3px 3px;
}
#main .subWrap #detailWrap #profile ul li {
  margin-bottom: 5px;
}
#main .subWrap #detailWrap #profile ul li span {
  font-size: 14px;
  display: table-cell;
  padding-right: 10px;
}
#main .subWrap #detailWrap #profile ul li span:first-of-type {
  color: #808991;
}
#main .subWrap #detailWrap #profile ul li span:last-of-type {
  color: #333333;
}
#main .subWrap #detailWrap #profile div:last-of-type {
  display: flex;
  justify-content: flex-end;
}
#main .subWrap #detailWrap #profile div:last-of-type span {
  font-size: 13px;
  color: #9ea7ad;
  margin-right: 10px;
}
#main .subWrap #detailWrap #profile div:last-of-type #profile_btn_2 {
  width: 135px;
  height: 22px;
  color: #808991;
  border: 1px solid #f0f0f0;
  font-size: 11px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#main .subWrap #detailWrap #profile div:last-of-type #profile_btn_2 i {
  font-size: 6px;
  padding-top: 3px;
  margin-right: 4px;
}
#main .subWrap #detailWrap #profile div:last-of-type #profile_btn_2:hover {
  background: rgba(128, 137, 145, 0.1);
}
#main .subWrap #detailWrap #other_book {
  padding: 30px;
}
#main .subWrap #detailWrap #other_book #rep p {
  font-size: 16px;
  color: #333333;
}
#main .subWrap #detailWrap #other_book #rep:first-of-type {
  display: flex;
  justify-content: space-between;
}
#main .subWrap #detailWrap #other_book #rep ul li {
  float: left;
  font-size: 11px;
  color: #999999;
  cursor: pointer;
}
#main .subWrap #detailWrap #other_book #rep ul li:first-of-type {
  color: #333333;
}
#main .subWrap #detailWrap #other_book #rep ul li:hover {
  color: #333333;
}
#main .subWrap #detailWrap #other_book #rep ul li:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 11px;
  display: inline-block;
  background: #ddd;
  margin: 0px 8px;
}
#main .subWrap #detailWrap #other_book #other {
  margin: 30px 0;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
}
#main .subWrap #detailWrap #other_book #other .other_wrap {
  width: 135px;
  height: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_cover {
  width: 90px;
  height: 135px;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_cover img {
  width: 100%;
  height: 100%;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_title {
  width: 90px;
  font-size: 13px;
  color: #333333;
  margin-top: 5px;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star {
  width: 90px;
  height: 24px;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover {
  width: 50px;
  height: 10px;
  background: url(../img/sub/star.svg) no-repeat;
  display: inline-block;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover .star_wrap {
  overflow: hidden;
  height: 10px;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover .star_wrap .full {
  width: 50px;
  height: 10px;
  background: url(../img/sub/star_full.svg) no-repeat;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover #star_wrap_1 {
  width: 94%;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover #star_wrap_2 {
  width: 90%;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover #star_wrap_3 {
  width: 87%;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover #star_wrap_4 {
  width: 92%;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star .star_cover #star_wrap_5 {
  width: 70%;
}
#main .subWrap #detailWrap #other_book #other .other_wrap .other_star span {
  font-size: 10px;
  color: #666666;
}
#main .subWrap #detailWrap #intro_author {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-bottom: 20px;
}
#main .subWrap #detailWrap #intro_author h3 {
  font-size: 20px;
  color: #59667a;
}
#main .subWrap #detailWrap #intro_author hr {
  margin: 12px 0;
  height: 3px;
  background: #59667a;
}
#main .subWrap #detailWrap #intro_author p {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}
#main .subWrap #detailWrap #review {
  margin-top: 60px;
}
#main .subWrap #detailWrap #review h3 {
  font-size: 20px;
  color: #59667a;
}
#main .subWrap #detailWrap #review hr {
  margin: 12px 0;
  height: 3px;
  background: #59667a;
}
#main .subWrap #detailWrap #review #review_box {
  display: flex;
}
#main .subWrap #detailWrap #review #review_box #box_left {
  width: 120px;
  padding: 30px 10px;
}
#main .subWrap #detailWrap #review #review_box #box_left p {
  text-align: center;
}
#main .subWrap #detailWrap #review #review_box #box_left p:first-child {
  color: #808991;
  font-size: 12px;
}
#main .subWrap #detailWrap #review #review_box #box_left p:nth-child(2) {
  font-size: 35px;
  font-weight: 700;
}
#main .subWrap #detailWrap #review #review_box #box_left p:last-child {
  border-top: 1px solid #ddd;
  padding-top: 5px;
  font-size: 12px;
  color: #94a2bb;
}
#main .subWrap #detailWrap #review #review_box #box_left #review_star {
  width: 75px;
  height: 15px;
  margin: 0 auto;
}
#main .subWrap #detailWrap #review #review_box #box_left #review_star .star_cover {
  width: 75px;
  height: 15px;
  background: url(../img/sub/star.svg) no-repeat;
  display: inline-block;
}
#main .subWrap #detailWrap #review #review_box #box_left #review_star .star_cover .star_wrap {
  overflow: hidden;
  height: 15px;
}
#main .subWrap #detailWrap #review #review_box #box_left #review_star .star_cover .star_wrap .full {
  width: 75px;
  height: 15px;
  background: url(../img/sub/star_full.svg) no-repeat;
}
#main .subWrap #detailWrap #review #review_box #box_left #static {
  margin-top: 15px;
  color: #808991;
  font-size: 12px;
}
#main .subWrap #detailWrap #review #review_box #box_left #static li {
  margin: 5px 0;
}
#main .subWrap #detailWrap #review #review_box #box_left #static .bar_wrap {
  display: inline-block;
  width: 70px;
  height: 10px;
  margin-left: 2px;
  background: #e8edf3;
}
#main .subWrap #detailWrap #review #review_box #box_left #static .bar_wrap .bar {
  height: 10px;
  background: linear-gradient(#9daab5, #718392);
}
#main .subWrap #detailWrap #review #review_box #box_left #static .bar_wrap #bar_5 {
  width: 80%;
}
#main .subWrap #detailWrap #review #review_box #box_left #static .bar_wrap #bar_4 {
  width: 15%;
}
#main .subWrap #detailWrap #review #review_box #box_left #static .bar_wrap #bar_3 {
  width: 5%;
}
#main .subWrap #detailWrap #review #review_box #box_left #static .bar_wrap #bar_2 {
  width: 0%;
}
#main .subWrap #detailWrap #review #review_box #box_left #static .bar_wrap #bar_1 {
  width: 0%;
}
#main .subWrap #detailWrap #review #review_box #box_right {
  width: calc(100% - 120px);
  padding: 20px 10px;
}
#main .subWrap #detailWrap #review #review_box #box_right #star_text_0 {
  width: 200px;
  height: 35px;
  color: #666666;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}
#main .subWrap #detailWrap #review #review_box #box_right .star_text {
  display: none;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background: #1e9eff;
  font-size: 14px;
  color: white;
  margin: 0 auto;
}
#main .subWrap #detailWrap #review #review_box #box_right .star_text i {
  color: #1e9eff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#main .subWrap #detailWrap #review #review_box #box_right .star_text div {
  text-align: center;
  padding-top: 5px;
}
#main .subWrap #detailWrap #review #review_box #box_right #star_selec {
  font-size: 45px;
  color: #999999;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
#main .subWrap #detailWrap #review #review_box #box_right #star_selec span {
  padding: 0 7px;
}
#main .subWrap #detailWrap #review #review_box #box_right textarea {
  margin-top: 7px;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  color: #666666;
  resize: none;
  border: 1px solid #666666;
  border-radius: 5px;
}
#main .subWrap #detailWrap #review #review_box #box_right #btn_wrap {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  display: flex;
}
#main .subWrap #detailWrap #review #review_box #box_right #btn_wrap #rev_btn_1 {
  cursor: pointer;
  width: 160px;
  height: 35px;
  font-size: 13px;
  border: 1px solid #ddd;
  color: #808991;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
#main .subWrap #detailWrap #review #review_box #box_right #btn_wrap #rev_btn_1:hover {
  background: rgba(128, 137, 145, 0.1);
}
#main .subWrap #detailWrap #review #review_box #box_right #btn_wrap #rev_btn_2 {
  cursor: pointer;
  margin-left: calc(100% - 160px - 150px - 85px);
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .subWrap #detailWrap #review #review_box #box_right #btn_wrap #rev_btn_2 #spoiler {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
#main .subWrap #detailWrap #review #review_box #box_right #btn_wrap #rev_btn_2 label {
  cursor: pointer;
  font-size: 13px;
  color: #636c73;
  font-weight: 700;
}
#main .subWrap #detailWrap #review #review_box #box_right #btn_wrap #rev_btn_3 {
  margin-left: 10px;
  width: 95px;
  height: 35px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e9eff;
  opacity: 0.5;
  color: white;
  border-radius: 5px;
  justify-self: flex-end;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab {
  display: flex;
  justify-content: space-between;
  color: #b8bfc4;
  border-bottom: 2px solid #b8bfc4;
  padding: 5px 0;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab ul li {
  cursor: pointer;
  float: left;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu {
  font-size: 16px;
  margin-right: 15px;
  color: #808991;
  position: relative;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background: #b8bfc4;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu:hover::after {
  background: #808991;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu:hover {
  color: #808991;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu span {
  color: #b8bfc4;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu.tab_on {
  color: #40474d;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu.tab_on::after {
  background: #40474d;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .tab_menu.tab_on span {
  color: #40474d;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .sort {
  font-size: 13px;
  padding-top: 5px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .sort:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 5px;
  display: inline-block;
  background: #ddd;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .sort.sort_on {
  color: #303538;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_tab .sort:hover {
  color: #303538;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li:last-of-type, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li:last-of-type {
  border: none;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info {
  width: 120px;
  font-size: 12px;
  color: #808991;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info div, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info div {
  margin-bottom: 8px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star {
  width: 60px;
  height: 12px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover {
  width: 60px;
  height: 12px;
  background: url(../img/sub/star.svg) no-repeat;
  display: inline-block;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover .star_wrap, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover .star_wrap {
  width: 80%;
  overflow: hidden;
  height: 12px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover .star_wrap .full, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover .star_wrap .full {
  width: 60px;
  height: 12px;
  background: url(../img/sub/star_full.svg) no-repeat;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover #star_review_3, #main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover #star_review_4, #main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover #star_review_6, #main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover #star_review_8, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover #star_review_3, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover #star_review_4, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover #star_review_6, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover #star_review_8 {
  width: 100%;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover #star_review_2, #main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_star .star_cover #star_review_9, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover #star_review_2, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_star .star_cover #star_review_9 {
  width: 60%;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .writer_id, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .writer_id {
  color: #212529;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .buyer, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .buyer {
  background: #7d8e9e;
  color: white;
  padding: 2px;
  border-radius: 2px;
  margin-left: 7px;
  font-size: 11px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .report, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .report {
  font-weight: 700;
  cursor: pointer;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .writer_info .report::before, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .writer_info .report::before {
  content: "";
  width: 3px;
  height: 3px;
  background: #ddd;
  margin: 3px 4px;
  display: inline-block;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .text, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .text {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #212529;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .text_hide, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .text_hide {
  padding: 20px 0;
  color: #808080;
  font-size: 14px;
  text-align: center;
  background: #ddd;
  display: none;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .text_hide i, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .text_hide i {
  margin-right: 5px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .text_hide span, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .text_hide span {
  cursor: pointer;
  font-weight: 700;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .review_txt_btn, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .review_txt_btn {
  font-size: 12px;
  color: #808991;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .review_txt_btn .reply, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .review_txt_btn .reply {
  width: 60px;
  height: 25px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .review_txt_btn .reply i, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .review_txt_btn .reply i {
  margin-right: 3px;
  padding-top: 2px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .review_txt_btn .reply:hover, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .review_txt_btn .reply:hover {
  background: rgba(128, 137, 145, 0.1);
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .review_txt_btn .good, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .review_txt_btn .good {
  margin-left: 10px;
  width: 50px;
  height: 25px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .review_txt_btn .good i, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .review_txt_btn .good i {
  margin-right: 3px;
  padding-top: 2px;
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list li .review_txt .review_txt_btn .good:hover, #main .subWrap #detailWrap #review #review_list_wrap #review_list_2 li .review_txt .review_txt_btn .good:hover {
  background: rgba(128, 137, 145, 0.1);
}
#main .subWrap #detailWrap #review #review_list_wrap #review_list_2 {
  display: none;
}
#main .subWrap #detailWrap #review #review_list_wrap #more_btn {
  margin-top: 15px;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  height: 50px;
  border: 2px solid #d1d5d9;
  color: #808991;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .subWrap #detailWrap #review #review_list_wrap #more_btn span, #main .subWrap #detailWrap #review #review_list_wrap #more_btn i {
  color: #1e9eff;
}
#main .subWrap #detailWrap #review #review_list_wrap #more_btn i {
  margin-left: 5px;
}
#main .subWrap #detailWrap #review #review_list_wrap #more_btn:hover {
  background: rgba(128, 137, 145, 0.1);
}
#main .subWrap #detailWrap #review #review_list_wrap #buyer_more {
  margin-top: 10px;
  color: #808991;
  font-size: 12px;
  cursor: pointer;
}
#main .subWrap #detailWrap #review #review_list_wrap #buyer_more i {
  margin-left: 5px;
}
#main .subWrap #detailWrap #review #review_list_wrap #buyer_toggle {
  font-size: 14px;
  color: #8595a2;
  padding: 20px;
  background: #f0f0f0;
  display: none;
  margin-top: 10px;
}
#main .subWrap #detailWrap #review #review_list_wrap #buyer_toggle p:first-of-type {
  color: #303745;
}
#main .subWrap #detailWrap #review #review_list_wrap #buyer_toggle p:nth-of-type(even) {
  font-weight: 700;
}
#main .subWrap #detailWrap #differ_book, #main .subWrap #detailWrap #another_book {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-bottom: 20px;
}
#main .subWrap #detailWrap #differ_book h3, #main .subWrap #detailWrap #another_book h3 {
  font-size: 20px;
  color: #59667a;
}
#main .subWrap #detailWrap #differ_book hr, #main .subWrap #detailWrap #another_book hr {
  margin: 12px 0 25px 0;
  height: 3px;
  background: #59667a;
}
#main .subWrap #detailWrap #differ_book #differ_list, #main .subWrap #detailWrap #differ_book #another_list, #main .subWrap #detailWrap #another_book #differ_list, #main .subWrap #detailWrap #another_book #another_list {
  width: 100%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}
#main .subWrap #detailWrap #differ_book #differ_list .differ_wrap, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap, #main .subWrap #detailWrap #differ_book #another_list .another_wrap, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap, #main .subWrap #detailWrap #another_book #differ_list .another_wrap, #main .subWrap #detailWrap #another_book #another_list .differ_wrap, #main .subWrap #detailWrap #another_book #another_list .another_wrap {
  width: 20%;
  height: 225px;
  font-size: 13px;
}
#main .subWrap #detailWrap #differ_book #differ_list .differ_wrap div, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap div, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap div, #main .subWrap #detailWrap #differ_book #another_list .another_wrap div, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap div, #main .subWrap #detailWrap #another_book #differ_list .another_wrap div, #main .subWrap #detailWrap #another_book #another_list .differ_wrap div, #main .subWrap #detailWrap #another_book #another_list .another_wrap div {
  margin: 0 auto;
}
#main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .differ_cover, #main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .another_cover, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .differ_cover, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .another_cover, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .differ_cover, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .another_cover, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .differ_cover, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .another_cover, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .differ_cover, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .another_cover, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .differ_cover, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .another_cover, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .differ_cover, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .another_cover, #main .subWrap #detailWrap #another_book #another_list .another_wrap .differ_cover, #main .subWrap #detailWrap #another_book #another_list .another_wrap .another_cover {
  cursor: pointer;
  width: 90px;
  height: 135px;
}
#main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .differ_cover img, #main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .another_cover img, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .differ_cover img, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .another_cover img, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .differ_cover img, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .another_cover img, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .differ_cover img, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .another_cover img, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .differ_cover img, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .another_cover img, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .differ_cover img, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .another_cover img, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .differ_cover img, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .another_cover img, #main .subWrap #detailWrap #another_book #another_list .another_wrap .differ_cover img, #main .subWrap #detailWrap #another_book #another_list .another_wrap .another_cover img {
  width: 100%;
  height: 100%;
}
#main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .differ_title, #main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .another_title, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .differ_title, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .another_title, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .differ_title, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .another_title, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .differ_title, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .another_title, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .differ_title, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .another_title, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .differ_title, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .another_title, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .differ_title, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .another_title, #main .subWrap #detailWrap #another_book #another_list .another_wrap .differ_title, #main .subWrap #detailWrap #another_book #another_list .another_wrap .another_title {
  cursor: pointer;
  width: 90px;
  height: auto;
  color: #333333;
}
#main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .differ_author, #main .subWrap #detailWrap #differ_book #differ_list .differ_wrap .another_author, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .differ_author, #main .subWrap #detailWrap #differ_book #differ_list .another_wrap .another_author, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .differ_author, #main .subWrap #detailWrap #differ_book #another_list .differ_wrap .another_author, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .differ_author, #main .subWrap #detailWrap #differ_book #another_list .another_wrap .another_author, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .differ_author, #main .subWrap #detailWrap #another_book #differ_list .differ_wrap .another_author, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .differ_author, #main .subWrap #detailWrap #another_book #differ_list .another_wrap .another_author, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .differ_author, #main .subWrap #detailWrap #another_book #another_list .differ_wrap .another_author, #main .subWrap #detailWrap #another_book #another_list .another_wrap .differ_author, #main .subWrap #detailWrap #another_book #another_list .another_wrap .another_author {
  cursor: pointer;
  width: 90px;
  height: auto;
  color: #666666;
}
#main .subWrap #rightSide {
  width: 206px;
  height: 1000px;
}
#main .subWrap #rightSide #img {
  height: 206px;
  padding-top: 20px;
  background: #f0f0f0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
#main .subWrap #rightSide #img h2 {
  font-size: 20px;
  text-align: center;
}
#main .subWrap #rightSide #img h2:last-of-type {
  color: #1e9eff;
}
#main .subWrap #rightSide #img #sideBtn {
  width: 100px;
  height: 25px;
  margin: 8px auto;
  background: black;
  font-size: 11px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
#main .subWrap #rightSide #img #sideCover {
  width: 100px;
  height: 87px;
  margin: 0 auto;
}
#main .subWrap #rightSide #img #sideCover img {
  width: 100% !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#main .subWrap #rightSide #bestRank {
  padding: 20px;
  color: #666666;
}
#main .subWrap #rightSide #bestRank h3 {
  font-size: 13px;
}
#main .subWrap #rightSide #bestRank span {
  display: table-cell;
  font-size: 12px;
  padding: 5px 0;
}
#main .subWrap #rightSide #bestRank span:first-of-type {
  width: 28px;
  color: #dc3232;
}
#main .subWrap #rightSide #bestRank span:last-of-type:hover {
  width: calc(100% - 28px);
  color: #1e9eff;
}
#main .subWrap #rightSide #bestRank ul li {
  border-top: 1px solid #ddd;
  margin: 5px 0;
  cursor: pointer;
}
#main .subWrap #rightSide #bestRank #sideMoreBtn {
  font-size: 12px;
  width: 100%;
  height: 25px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  border-top: 1px solid #f0f0f0;
}
footer .wrap {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
}
footer .wrap #footIcon {
  width: 17%;
  height: 160px;
  color: #787878;
  font-size: 13px;
  font-weight: 700;
}
footer .wrap #footIcon i {
  font-size: 20px;
  margin-right: 10px;
}
footer .wrap #footIcon div {
  margin-bottom: 20px;
}
footer .wrap #service {
  width: 17%;
  height: 160px;
  font-size: 13px;
  color: #787878;
}
footer .wrap #service h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .wrap #service li {
  cursor: pointer;
  margin-bottom: 8px;
}
footer .wrap #etc {
  width: 17%;
  height: 160px;
  font-size: 13px;
  color: #787878;
}
footer .wrap #etc h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .wrap #etc li {
  cursor: pointer;
  margin-bottom: 8px;
}
footer .wrap #company {
  width: 17%;
  height: 160px;
  font-size: 13px;
  color: #787878;
}
footer .wrap #company h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
footer .wrap #company li {
  cursor: pointer;
  margin-bottom: 8px;
}
footer .wrap #company #new {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  font-size: 1px;
  color: white;
  background: #1e9eff;
  border-radius: 7px;
  text-align: center;
}
footer .wrap #sns {
  width: 32%;
  height: 160px;
  color: #787878;
  display: flex;
  justify-content: flex-end;
}
footer .wrap #sns div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
footer .wrap #copy {
  width: 100%;
  height: auto;
  color: #787878;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
footer .wrap #copy h3 {
  cursor: pointer;
}
footer .wrap #copy li {
  margin: 10px 0;
  float: left;
  cursor: pointer;
}
footer .wrap #copy li:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #787878;
  margin: 0px 7px;
}
footer .wrap #copy p {
  font-size: 11px;
}

.open, .close {
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #1e9eff;
  display: none;
}

.on {
  display: block;
}